<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Exploitation Demos</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link href="/css/custom.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
  </head>
  <body class="bg-dark mb-5">
    <!-- top navigation -->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-5">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="#">Web Exploitation Demos </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="active nav-link" href="http://localhost">Home</a>
              <a
                class="nav-link"
                href="http://localhost:5000/einfuehrung_in_command_injection"
                >Command-Injection</a
              >
              <a class="nav-link" href="http://localhost:3000"
                >Path-Traversal</a
              >
              <a class="nav-link" href="http://localhost:8026">SQL-Injection</a>
              <a class="nav-link" href="http://localhost:8026/xssMain.php"
                >XSS (Cross-Site-Scripting)</a
              >
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- /top navigation -->

    <!-- hero  -->
    <div class="container-fluid hero-bg mt-5">
      <div class="container py-5">
        <h1 class="fw-bold">Capture The Flag</h1>
        <p class="fs-4 mb-0 text-body text-opacity-75">
          CTF-Challenges um Web-Exploitation-Konzepte zu demonstrieren
        </p>
      </div>
    </div>
    <!-- /hero -->

    <!-- challenges -->
    <div class="container">
      <div class="row mt-5">
        <h2 id="scrollspyChallenges" class="huge">Challenges</h2>

        <!-- command injection level 1 + 2-->
        <div class="col-sm">
          <div class="card h-100">
            <img
              src="/assets/command-computer-keyboard-key.jpg"
              class="card-img-top"
              alt="Command Key"
            />
            <h5 class="card-title fw-bold px-4 pt-3">Command-Injection</h5>
            <div class="card-body">
              <p class="card-text">
                Bei dieser Challenge lernst du etwas über Command-Injection.
              </p>
              <a
                href="<%= command_injection_url %>:<%= command_injection_port %>/<%= command_injection_path %>"
                class="btn btn-outline-light w-100 mt-2 mb-4"
                >Challenge Starten</a
              >
              <hr />
              <h6>Fortschritt:</h6>
              <div class="challenge-progress">
                <div class="challenge-progress-item">
                  <div
                    class="challenge-progress-item-status text-primary <%= progress['cmd_inj_level-1'] === 1 ? 'visually-hidden' : '' %>"
                  >
                    <i class="far fa-circle"></i> Stufe 1
                  </div>
                  <div
                    class="challenge-progress-item-status text-success <%= progress['cmd_inj_level-1'] === 0 ? 'visually-hidden' : '' %>"
                  >
                    <i class="far fa-check-circle"></i> Stufe 1
                  </div>
                  <div class="challenge-progress-item">
                    <div
                      class="challenge-progress-item-status text-primary <%= progress['cmd_inj_level-2'] === 1 ? 'visually-hidden' : '' %>"
                    >
                      <i class="far fa-circle"></i> Stufe 2
                    </div>
                    <div
                      class="challenge-progress-item-status text-success <%= progress['cmd_inj_level-2'] === 0 ? 'visually-hidden' : '' %>"
                    >
                      <i class="far fa-check-circle"></i> Stufe 2
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /command injection level 1 + 2 -->

        <!-- path traversal level 1 -->
        <div class="col-sm">
          <div class="card h-100" id="scrollspyPathTraversal">
            <img
              src="/assets/forking-forest-path.jpg"
              class="card-img-top"
              alt="Forking forest path"
            />
            <h5 class="card-title fw-bold px-4 pt-3">Path-Traversal</h5>
            <div class="card-body">
              <p class="card-text">
                Bei dieser Challenge lernst du etwas über Path-Traversal.
              </p>
              <a
                href="<%= path_traversal_url %>:<%= path_traversal_port %>"
                class="btn btn-outline-light w-100 mt-2 mb-4"
                >Challenge Starten</a
              >
              <hr />
              <h6>Fortschritt:</h6>
              <div class="challenge-progress">
                <div class="challenge-progress-item">
                  <div
                    class="challenge-progress-item-status text-primary <%= progress['path-traversal_level-1'] === 1 ? 'visually-hidden' : '' %>"
                  >
                    <i class="far fa-circle"></i> Stufe 1
                  </div>
                  <div
                    class="challenge-progress-item-status text-success <%= progress['path-traversal_level-1'] === 0 ? 'visually-hidden' : '' %>"
                  >
                    <i class="far fa-check-circle"></i> Stufe 1
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /path traversal level 1 -->

        <!-- sql injection level 1 + 2 -->
        <div class="col-sm">
          <div class="card h-100">
            <img
              src="/assets/injection.jpg"
              class="card-img-top"
              alt="Injection"
            />
            <h5 class="card-title fw-bold px-4 pt-3">SQL-Injection</h5>
            <div class="card-body">
              <p class="card-text">
                Bei dieser Challenge lernst du etwas über SQL-Injection.
              </p>
              <a
                href="<%= sql_injection_url %>:<%= sql_injection_port %>"
                class="btn btn-outline-light w-100 mt-2 mb-4"
                >Challenge Starten</a
              >
              <hr />
              <h6>Fortschritt:</h6>
              <div class="challenge-progress">
                <div class="challenge-progress-item">
                  <div
                    class="challenge-progress-item-status text-primary <%= progress['sql-injection_level-1'] === 1 ? 'visually-hidden' : '' %>"
                  >
                    <i class="far fa-circle"></i> Stufe 1
                  </div>
                  <div
                    class="challenge-progress-item-status text-success <%= progress['sql-injection_level-1'] === 0 ? 'visually-hidden' : '' %>"
                  >
                    <i class="far fa-check-circle"></i> Stufe 1
                  </div>
                  <div class="challenge-progress-item">
                    <div
                      class="challenge-progress-item-status text-primary <%= progress['sql-injection_level-2'] === 1 ? 'visually-hidden' : '' %>"
                    >
                      <i class="far fa-circle"></i> Stufe 2
                    </div>
                    <div
                      class="challenge-progress-item-status text-success <%= progress['sql-injection_level-2'] === 0 ? 'visually-hidden' : '' %>"
                    >
                      <i class="far fa-check-circle"></i> Stufe 2
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /sql injection level 1 + 2 -->

        <!-- xss level 1 + 2-->
        <div class="col-sm">
          <div class="card h-100">
            <img
              src="/assets/highway-junction.jpg"
              class="card-img-top"
              alt="Command Key"
            />
            <h5 class="card-title fw-bold px-4 pt-3">
              XSS (Cross-Site-Scripting)
            </h5>
            <div class="card-body">
              <p class="card-text">
                Bei dieser Challenge lernst du etwas über XSS
                (Cross-Site-Scripting).
              </p>
              <a
                href="<%= xss_url %>:<%= xss_port %>/<%= xss_path %>"
                class="btn btn-outline-light w-100 mt-2 mb-4"
                >Challenge Starten</a
              >
              <div class="challenge-progress">
                <hr />
                <h6>Fortschritt:</h6>
                <div class="challenge-progress-item">
                  <div
                    class="challenge-progress-item-status text-primary <%= progress['XSS-injection_level-1'] === 1 ? 'visually-hidden' : '' %>"
                  >
                    <i class="far fa-circle"></i> Stufe 1
                  </div>
                  <div
                    class="challenge-progress-item-status text-success <%= progress['XSS-injection_level-1'] === 0 ? 'visually-hidden' : '' %>"
                  >
                    <i class="far fa-check-circle"></i> Stufe 1
                  </div>
                  <div class="challenge-progress-item">
                    <div
                      class="challenge-progress-item-status text-primary <%= progress['XSS-injection_level-2'] === 1 ? 'visually-hidden' : '' %>"
                    >
                      <i class="far fa-circle"></i> Stufe 2
                    </div>
                    <div
                      class="challenge-progress-item-status text-success <%= progress['XSS-injection_level-2'] === 0 ? 'visually-hidden' : '' %>"
                    >
                      <i class="far fa-check-circle"></i> Stufe 2
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /xss level 1 + 2-->
      </div>
    </div>
    <!-- /challenges -->

    <!-- intro -->
    <div class="container mt-5">
      <h2 id="scrollspyIntro" class="huge mt-5">Einleitung</h2>
      <p>
        Diese Sammlung von IT-Security-Demos in Form von sogenannten
        "Capture-The-Flag-Challenges" soll einige Web-Exploits praktisch
        aufzeigen. Der Benutzer soll anhand der Challenges durch Ausprobieren
        und mit Hilfe von Hinweisen, mehr über die einzelnen Exploits erfahren
        und ein Bewusstsein dafür entwickeln. Zu jeder Challenge wird auch eine
        Komplettlösung zur Verfügung gestellt, um alle Konzepte darstellen zu
        können, auch wenn der Benutzer die Challenges nicht alleine lösen kann.
      </p>
      <p>
        Dies ist die Startseite der Web-Exploitation-Demos. Sie ist der
        Startpunkt, um alle anderen Challenges zu starten und um den Fortschritt
        der einzelnen Challenges anzuzeigen. Wenn eine Challenge gelöst wurde,
        kann hierher zurückgekehrt werden, um einen Überblick des aktuellen
        Fortschritts zu erhalten.
      </p>
      <p>
        Die einzelnen Challenges unterscheiden sich optisch und auch die
        Herangehensweisen um die Challenges zu lösen sind verschieden. Meist
        gibt es auch mehrere Stufen, die zu lösen sind.
      </p>
      <p>
        Es wurde trotzdem versucht eine möglichst einheitliche User-Experience
        zu schaffen und so gibt es einige wichtige Elemente, die alle Challenges
        gemeinsam haben:
      </p>
      <ul>
        <li>Sie starten alle mit einer generellen Einführung zum Thema.</li>
        <li>
          Oben rechts ist eine Navigationsleiste, die zurück zur Startseite oder
          direkt zu jeder anderen Challenge führt.
        </li>
        <li>
          Es gibt links eine Seitenleiste, die zur Navigation innerhalb einer
          Challenge dient und Challenge-Spezifische Funktionen bereitstellt.
        </li>
        <li>Es werden Hinweise zur Lösung der Challenge bereitgestellt.</li>
        <li>Es gibt eine Komplettlösung zur Challenge.</li>
        <li>
          Es gibt eine gegen den Exploit gesicherte Version der Challenge.
        </li>
        <li>
          Es werden Möglichkeiten zur Sicherung gegen den Exploit erläutert.
        </li>
      </ul>
      <!-- /intro -->
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
